@model IEnumerable<LibraryMVC4.Models.schedule>

@{
    ViewBag.Title = "GetAdminSchedule";
    Layout = "~/Views/Shared/_adminTemplate.cshtml";

    var scheduleGrid = new WebGrid(Model, canPage: true, rowsPerPage: 15, canSort: false);
}

<h2>Admin Schedule</h2>

@Html.ActionLink("Go back to Library Admin", "index", "admin")

<hr />

@Html.ActionLink("Add an Event", "AddEvent")

<a href="#bottom" style="float: right; font-weight: bold;">Go to Bottom</a>

<div id="content">

    @scheduleGrid.GetHtml(
        htmlAttributes: new { id = scheduleGrid },
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        lastText: "Last >>",
        tableStyle: "webgrid-table",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        rowStyle: "webgrid-row-style",
        columns: scheduleGrid.Columns(
                scheduleGrid.Column(columnName: "lcEventId", header: "", 
                                    format: @<text>@Html.ActionLink("Select", "GetEvent", "schedule", new { id = item.lcEventId }, null)</text>),
                scheduleGrid.Column(columnName: "eventDate", header: "Event Date"),
                scheduleGrid.Column(columnName: "TotalAttendees", header: "Total Attendees"),
                scheduleGrid.Column(columnName: "LibLastName", header: "Librarian"),
                scheduleGrid.Column(columnName: "Registerees", header: "Registerees", 
                                    format: @<text>@Html.ActionLink((string)item.Registerees, "Registerees", "schedule", new { id = item.lcEventId }, null)</text>),
                scheduleGrid.Column(columnName: "eventDetails", header: "Event Details",
                                    format: @<text>@Html.Raw(item.eventDetails)</text>))
                )
    <div id="bottom"></div>
</div>