@model LibraryMVC4.Models.diss


@using (Html.BeginForm("GoSearch", "Diss", FormMethod.Post))
{
 
     @*@Html.Action("GetDropDrownMenu", "Diss")*@
    <div style="text-align: center;">
        @Html.DropDownListFor(m => m.DropDrownMenuVar, Model.DissList) @(" ")

        @Html.TextBoxFor(m => m.SearchVariables) 
        @(" ")<input type="submit" value="Search" /><span style="color: red;">@Html.ValidationMessageFor(m => m.SearchVariables)</span>
    </div>
    <br/>
    <br/>
    
}
