@model LibraryMVC4.Models.structure

@{
    ViewBag.Title = "EditAlert";
    Layout = "~/Views/Shared/_adminTemplate.cshtml";
}

<div>@Html.ActionLink("Return to Alerts Table", "GetAlerts", "structure")</div>

<h2>Edit Alert</h2>

<br />

@using (Html.BeginForm("PostEditAlert", "structure", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>

        @Html.HiddenFor(c => c.PrimaryKey)

        @("Alert Title"): @Html.TextBoxFor(m => m.Title, new { style = "width: 300px;" }) @(" ") <span style="color: red;">@Html.ValidationMessageFor(m => m.Title)</span>

        <br />
        <br />

        <h3>Alert Text</h3>

        <div class="editor-field">
            <span style="color: red;">@Html.ValidationMessageFor(m => m.Text)</span>
            @Html.EditorFor(c => c.Text)

        </div>
        <br />
        
        @if (Model.CheckBox == true)
        {
            @("Display ") @Html.CheckBoxFor(m => m.CheckBox, new { @checked = Model.CheckBox })
        } else
        {
            @("Display ") @Html.CheckBoxFor(m => m.CheckBox)
        }
        <br/>
        <br/> 
        <input type="submit" value="Update" />

    </fieldset>


}