@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/content")
    @Styles.Render("~/bundles/themes/baseAll")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <meta name="viewport" content="width=device-width" />
    <title>Library Admin Area</title>
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon" />
    @*<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>*@
 
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce.js"></script>
    @*<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@
</head>
<body style="background-color: #EDEDED;">


    <div class="container" style="background-color: White;">
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>

    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>
</html>
