@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/content") 
    @Styles.Render("~/bundles/themes/baseAll")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <meta name="viewport" content="width=device-width" />
    <title>Northcentral Library</title>
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon" />

</head>
<body style="background-color: #EDEDED;">

    @Html.Partial("_menuTop")

    @*render the body*@

    <div class="container" style="background-color: White;">
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </div>

    @*end of body *@



    @*start of footer*@


    <div class="container">
        <div class="row">
            <div class="col-md-12" style="background-color:  #003366; font-size: smaller;">

                <footer>

                    <table style="width: 100%; background-color:  #003366;">
                        <tr>
                            <td style="text-align: center; color: White;">@Html.Partial("_LibFooter")</td>
                        </tr>

                    </table>
                </footer>
            </div>

        </div>
    </div>

    @Scripts.Render("~/Scripts/bootstrap.js")
    @RenderSection("scripts", required: false)
</body>
</html>
