@model IEnumerable<LibraryMVC4.Models.wl>
@{
    Layout = "~/Views/Shared/_bootStrap2.cshtml";
    ViewBag.Title = "Index";
}

@Html.Partial("_breadCrumb", ViewData["getBread"])
@{ int counter = 0; }

@*-------------tabs--------------*@
@*<div style="text-align: center;">

    </div>*@

@foreach (var title in Model.GroupBy(t => t.PageTitle))
{
    <h2 style="text-align: center;">@title.Key</h2>
    <div style="text-align: center;">
        @foreach (var category in title.GroupBy(item => item.Category))
        {
            counter++;

            <a href="#@category.Key">@category.Key</a>

            if (counter < Convert.ToInt32(ViewData["getCounts"]))
            {
                @( "  |  ")
            }
        }
    </div>

    foreach (var header in Model.OrderBy(c => c.Order).GroupBy(n => n.Category))
    {
        if (header.First().CatId != 0)
        {
            <h3 id="@header.Key">@header.Key</h3>
        }
        else
        {
            @("")
        }

        if (header.Key != null)
        {
            foreach (var links in header.OrderBy(q => q.Title))
            {
                if (links.LinkId != 0)
                {
                    <div>
                        <a target="_blank" href=@links.GetUrl><strong> @links.Title</strong></a>

                        @if (links.LinkDesc != "")
                        {
                            @( " - ")  @Html.Raw(links.LinkDesc)
                        }
                        else
                        {
                            @(" ")
                        }
                    </div>
                    <br />
                }
                else
                {
                    @("")

                }

            }

        }

        @*<br />*@
    }
    <br />

}
