@model IEnumerable<LibraryMVC4.Models.wl>
@{

    Layout = "~/Views/Shared/_bootStrap2.cshtml";
    ViewBag.Title = "Index";

}


@Html.Partial("_breadCrumb", ViewData["getBread"])
@{ int counter = 0; }
@foreach (var g in Model.GroupBy(item => item.Title))
{
    <br />
    @* Page title *@
    <h2 style="text-align: center;">@Html.DisplayFor(modelItem => g.Key)</h2>

    @*-------------tabs--------------*@
    <div style="text-align: center;">
        @foreach (var m in g.GroupBy(item => item.Category))
        {

            counter++;
            <a href="#@m.Key">@m.Key</a>

            if (counter < Convert.ToInt32(ViewData["getCounts"]))
            {
                @( "  |  ")

            }

        }
    </div>


    <br />

    foreach (var t in Model.GroupBy(item => item.Category))
    {
        <br />
        <div id="@t.Key" style="font-size: 1.25em; font-weight: 700;">@t.Key</div>
        @*@Html.DisplayFor(modelItem => t.Key)*@

        foreach (var c in t.OrderBy(display_items => display_items.Links))
        {
            <a href="@c.GetUrl" target="_blank">@c.Links</a> @( " - ")
            @*@c.GetUrl*@
            @*@Html.ActionLink(c.Links, c.GetUrl, "", new { target = "_blank" })*@
            if (c.LinkDesc != "")
            {
                @( " - ")  @Html.Raw(c.LinkDesc)
            }
            else
            {
                @(" ")

            }
            <br />
            <br />

        }

    }

}

