@model LibraryMVC4.Models.admin

@{
    ViewBag.Title = "GetAskLibQ";
    Layout = "~/Views/Shared/_adminTemplate.cshtml";
}


<h2>Library Question</h2>

<hr/> 
@if (Model.QuestStatus.Contains("Not"))
{
    <a href="/admin/GetAskLibqs">Return to admin</a>
}
else
{
    <a href="/admin/LibraryWkSpace">Return to admin</a>
}

<br/> 
@ViewBag.LibUserId

<h3>Patron Info</h3>
User Name: @Html.DisplayFor(m => Model.PatronName)
<br/>  
<br /> 
User Id: @Html.DisplayFor(m => Model.PatronId)
<br/> 
<br /> 
Address: @Html.DisplayFor(m => Model.PatronPhysicalAddress) 
<br/> 
<br /> 
Phone: @Html.DisplayFor(m => Model.PatronPhone)
<br/> 
<br /> 
Email: @Html.DisplayFor(m => Model.PatronEmail)

<h3>Question Info</h3>

Date/Time Question Posted: @Html.DisplayFor(m => Model.DateTime)
<br/> 
<br /> 
Category: @Html.DisplayFor(m => Model.Category)
<br/> 
<br /> 
Course Number (if provided): @Html.DisplayFor(m => Model.CourseNum)
<br/> 
<br /> 
Course Activity (if provided): @Html.DisplayFor(m => Model.AssignNum)
<br/> 
@* Form section can begin here.*@

@using (Html.BeginForm("SubmittedToKbPost", "Admin", new { Model.QuestId }, FormMethod.Post))
{

    <form>
        <fieldset>

            <h3>Question Status</h3>
            @*We need a condition that will tell whether a question was submitted to the KB or not submitted to the KB
                if the question was submitted to KB then we need to display the checkbox. If not, then let's not display the
                checkbox.*@

            @*@if (Model.QuestStatus.Contains("Not"))*@
            @if(Model.QuestStatus.Contains("Not"))
            {                
                @("Not submitted to KB")
                             
            }else 
            {
                @("Leave in KB") @Html.Action("GetCheckBox", "admin")
            } 
                
            <h3>Editing Areas</h3>
            @*<span style="color: red;">@Html.ValidationMessageFor(m => m.CatId)</span>*@
            Select Category: @Html.Action("GetCatList", "admin")

            <br />
            <br />
            Patron Question (Edited)
            <br />
            @*<span style="color: red;">@Html.ValidationMessageFor(m => m.LibResponseEdit)</span>*@
            <div class="editor-field">
              
                @Html.EditorFor(model => model.LibResponseEdit)
            </div>
            <br />
            <br />
            Librarian Response
            @*<span style="color: red;">@Html.ValidationMessageFor(m => m.LibrarianResponse)</span>*@

            <div class="editor-field">
              
                @Html.EditorFor(model => model.LibrarianResponse)
            </div>

            <input type="submit" value="Update" />

        </fieldset>
    </form>

}

<div align="right">
    @using (Html.BeginForm("Delete", "admin", new { id = Model.QuestId }, FormMethod.Post))
    {

        <button type="submit" onclick="return confirm('Do you want to Delete?')">Delete</button>

    }
</div>














