@model PagedList.IPagedList<LibraryMVC4.Models.admin> 
@using PagedList.Mvc;

<link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_adminTemplate.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LibraryWkSpace</title>
</head>
<body>
    <div>
        <a href="/admin">Return to Admin Area</a>
        <br/><br/> 
        <a href="/admin/GetAskLibqs">Go to Ask a Librarian Qs</a>



        <h3>Questions Submitted to Library Knowledgebase</h3>


        <table class="table table-striped table-hover">
            <tr>
                <th>
                    LibLastName
                </th>
                <th>
                    QuestId
                </th>
                <th>
                    @Html.ActionLink("DateTime", "LibraryWkSpace", new { sortOrder = ViewBag.DateParam })
                </th>
                <th>
                    @Html.ActionLink("Category", "LibraryWkSpace", new { sortOrder = ViewBag.CatSortParam })
                </th>
                <th>
                    PatronLName
                </th>
                <th>
                    DegProg
                </th>
                <th>
                    CourseNum
                </th>
                <th>
                    EmailSent
                </th>
                <th>
                    @Html.ActionLink("QType", "LibraryWkSpace", new { sortOrder = ViewBag.QTypeParam })
                </th>
                <th>
                    FileAvail
                </th>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@Html.ActionLink(item.LibLastName, "GetAskLibQ", new { id = item.QuestId.ToString() }, null)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuestId)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateTime.Value)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td>@Html.DisplayFor(modelItem => item.PatronLastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.DegProg)</td>
                    <td>@Html.DisplayFor(modelItem => item.CourseNum)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmailSent)</td>
                    <td>@Html.DisplayFor(modelItem => item.QuestType)</td>
                    <td>@Html.DisplayFor(modelItem => item.FileUpload)</td>
                </tr>

            }


        </table>
        <br />

        @("Page") @(" ") @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) @(" ")  @("of") @(" ") @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("LibraryWkSpace", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>
</body>
</html>
