@model IEnumerable<LibraryMVC4.Models.guides>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Course Guide Admin Area";
    Layout = "~/Views/Shared/_adminTemplate.cshtml";

    var courseGuideGrid = new WebGrid(Model, canPage: true, rowsPerPage: 50, canSort: false);
}

@Html.ActionLink("Go back to Library Admin", "index", "admin")

<h2>Course Guide Admin Area</h2>


<span style="float: right;"><button id="refresh">Clear</button></span> 
@using (Html.BeginForm("admin", "CourseGuide", FormMethod.Get))
{  
    <span style="float:right;"><strong>@("Search by LastName or Course Code ")</strong> @Html.TextBox("filter")&nbsp;<input type="submit" id="submit" value="Search" /></span>

}
<br/>
<br />


@*WebGrid below*@
    <div id="content">
    @courseGuideGrid.GetHtml(
     htmlAttributes: new { id = courseGuideGrid },
     mode: WebGridPagerModes.All,
     firstText: "<< First",
     lastText: "Last >>",
     tableStyle: "webgrid-table",
     headerStyle: "webgrid-header",
     footerStyle: "webgrid-footer",
     alternatingRowStyle: "webgrid-alternating-row",
     rowStyle: "webgrid-row-style",
     columns: courseGuideGrid.Columns(
             courseGuideGrid.Column(columnName: "GuideId", header: "",
                                 format: item => item.GuideId != null  || item.CourseEndDate != null ? @Html.ActionLink("Edit", "EditGuide", "CourseGuide", new { id = item.GuideId }, null) : @Html.ActionLink("Add", "AddCourseGuide", "CourseGuide", new { id = item.CourseCode, uId = courseGuideGrid.PageIndex + 1 }, null)),
             courseGuideGrid.Column(columnName: "CourseCode", header: "Course Code"),
             courseGuideGrid.Column(columnName: "CourseName", header: "Course Name"),
             courseGuideGrid.Column(columnName: "Enrollees", header: "Enrollees"),
             courseGuideGrid.Column(columnName: "School", header: "School"),
             courseGuideGrid.Column(columnName: "CourseEndDate", header: "EndDate"),
             courseGuideGrid.Column(columnName: "Display", header: "Viewable"),
             courseGuideGrid.Column(columnName: "LastName", header: "LastName", canSort: true),
             courseGuideGrid.Column(columnName: "GuideId", header: "", canSort: false, style: "",
                                         format: item => item.GuideId != null ? @Html.ActionLink("Guide", "GetCGuide", "Guide", new { GuideId = item.GuideId }, new { target = "_blank"}) : @Html.Raw("")))
                  )

    </div>
    


<script type="text/javascript">
    $(function () {
        $('#refresh').on('click', function () {
            //window.location.reload("/courseguide/admin");
            window.location.replace("/courseguide/admin")
        });
    });

</script>
