@model IEnumerable<LibraryMVC4.Models.guides>

@{
    ViewBag.Title = "EditGuide";
    Layout = "~/Views/Shared/_adminTemplate.cshtml";
}

@Html.ActionLink("Return to Course Admin Table", "admin", "courseguide")

<h2>Edit Course Guide</h2>

<input type="hidden" value="@ViewBag.headerId" id="HeaderId" />

@foreach (var guideId in Model.GroupBy(id => id.GuideId))
{
    @Html.HiddenFor(item => guideId.Key)

}

@foreach (var c in Model.GroupBy(item => item.CGuideTitle))
{
    @*@("Edit the Title: ")*@ 
    
    <h3>@(c.Key)</h3>
    
    @*@Html.TextBoxFor(title => c.Key, new { @style = "width: 400px;" })*@<br/>

    foreach (var k in c.GroupBy(item => item.GuideBody))
    {

        @("*Use the update button to update this content. You must click one of the tabs to view the update button.")<br />

        @Html.TextAreaFor(item => k.Key, new { @cols = 100, @rows = 5 })

    }

    <br />
    <br />

    //not certain if we can do a nested using statement
    @("Add to Tab List: ") @Html.TextBox("newTab") @(" ") <button id="Add">Add</button>

    <br />
    <br />

    @("Tab List: ") @Html.Action("TabList", "CourseGuide") @(" ") <button id="AddTab">Add Tab</button>

        <br />
        <br />
    //we have an interesting drop down menu that could be handled asychronously using JQuery

    foreach (var g in c.Where(t => t.TitleHeader != "Home"))
    {

        if (g.HeaderId == ViewBag.headerId)
        {

            @Html.ActionLink(g.TitleHeader, "editguide", new { controller = "courseguide", guidesId = g.GuideId, headerId = g.HeaderId }, new { @class = "btn btn-primary btn-sm active" })
            <span>@("  ")</span><span>@("  ") </span>


        }

        else if (g.HeaderId.HasValue)
        {

            @Html.ActionLink(g.TitleHeader, "editguide", new { controller = "courseguide", guidesId = g.GuideId, headerId = g.HeaderId }, new { @class = "btn btn-primary btn-sm" })

            <span>@( "  ")</span> <span>@( "  ")</span>

        }
        else
        {
            <span>@( "  ")</span> <span>@( "  ")</span>
        }
    }

    <br /><br />
    @Html.Action("GetHeaderBody", "CourseGuide")

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#submit').click(function () {
                tinyMCE.triggerSave('#HeaderBody');

            });
        });
    </script>

    if (ViewBag.headerId != 0)
    {
        <br />

        @("Display ")

        foreach (var m in Model.GroupBy(item => item.DisplayId))
        {
            if (m.Key == true)
            {
                @Html.CheckBoxFor(check => m.Key, new { @checked = m.Key })
            }
            else
            {
                @Html.CheckBoxFor(check => m.Key)
            }
        }
        <br />
        <br />
        <input type="submit" id="update" value="Update" />
    }

}

<div align="right">

    <input type="hidden" value="@ViewBag.headerId" id="HeaderId" />

    <input type="hidden" value="@ViewBag.guideId" id="GuideId" />

    @if (ViewBag.headerId != 0)
    {
        <input type="submit" id="delete" value="Delete?" data-confirm="Are you sure you want to delete this tab?" />
    }
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $('#m_Key').change(function () {
            if ($(this).attr('checked')) {
                cb = $(this);
                cb.val(cb.prop('checked'));
            }

        });

    });

    jQuery(document).ready(function ($) {
        $('#Add').click(function () {

            var tabName = $('#newTab').val();
            //Doing validation here.
            if (tabName != '') {

                $.post('@Url.Action("AddTab", "CourseGuide")', { id: tabName })
                  .done(function (data) {

                      //alert("Completed. Please Refresh Page.");
                      location.reload();

                  });
            }
            else {
                alert("Please enter tab name.");
            }

        });

    });
    jQuery(document).ready(function ($) {
        $('#AddTab').click(function () {

            var tabId = $('#TabId').val();
            var guideId = $('#guideId_Key').val();

            $.post('@Url.Action("AddNewTab", "CourseGuide")', { guideId: guideId, tabId: tabId })

                .done(function (data) {

                    location.reload();
                });

        });

    });
    jQuery(document).ready(function ($) {

        $('#delete').click(function () {

            var proceed = confirm($(this).data('confirm'));

            if (proceed == true) {
                var guideId = $('#GuideId').val();
                var headerId = $('#HeaderId').val();

                $.post('@Url.Action("DeleteTab", "CourseGuide")', { guideId: guideId, headerId: headerId })

                    .done(function (data) {
                        alert("Tab Deleted");
                        window.onbeforeunload = null;
                    });

            }
        });

    });
    jQuery(document).ready(function ($) {
        $('#update').click(function () {

            var checkbox = $('#m_Key').val();

            $.ajax({
                url: '@Url.Action("UpdateCourseGuide", "CourseGuide")',
                type: 'POST',
                dataType: 'json',
                data: {
                    GuideId: $('#guideId_Key').val(),
                    HeaderId: $('#HeaderId').val(),
                    //CGuideTitle: $('#c_Key').val(),
                    CourseCode: $('#t_Key').val(),
                    TabList: $('#TabId').val(),
                    HeaderBody: $('#HeaderBody').val(),
                    DisplayId: $('#m_Key').val(),
                    GuideBody: $('#k_Key').val()
                }

            })
            .done(function (data) {
                //location.reload("Success!");
                alert("Page Successfully Updated!");
                window.onbeforeunload = null;
            })
            .fail(function (jqXHR, response) { alert("Request failed: " + response.textStatus); });
            //.always(function () { alert("Complete"); });

        });
    });





</script>












