@model PagedList.IPagedList<LibraryMVC4.Models.asklib>
@using PagedList.Mvc;

<link href="../../Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<a href="/">Library Home</a>
<h2>My eRef Area</h2>
 @foreach (var g in Model.GroupBy(item => item.PatronFirstName))

{
    
    <p>Hi @Html.DisplayFor(modelItem => g.Key). Welcome to your My e-Reference area. Click Viewed to view our response to your question. Thank 
    you for contacting the Library.</p>

    
}


<table class="table table-striped table-hover">
@*<table id="test_table" class="display">*@
   <tr>
        <th>
            Date and Time Question Received
        </th>
          <th>
           &nbsp;
        </th>
        <th>
            Question Detail
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
            @Html.DisplayFor(modelItem => item.DateTime.Value)
            </td>
            <td>
            @if (item.ViewedMess != true)
            {
            
            @Html.ActionLink("View Answer", "GetAnswer", new { id = item.QuestId.ToString() }, null) 
                
            }
            else
            {

            @Html.ActionLink("Viewed", "GetAnswer", new { id = item.QuestId.ToString() }, null) 

            } 
                
                </td>
            <td>
                @Html.Raw(item.QuestDetail.Substring(0, Math.Min(item.QuestDetail.Length, 100)))
            </td>
        </tr>
    }
</table>

<br /> 

@("Page") @(" ") @(Model.PageCount < Model.PageNumber? 0 : Model.PageNumber) @(" ")  @("of") @(" ") @Model.PageCount 

@Html.PagedListPager(Model, page => Url.Action("index", new { page, currentFilter = ViewBag.CurrentFilter })) 


